$width :10% !default;
$margin-top: 0 !important;
$margin:0 0 0 5px !default;
$border-bottom:2px solid #C0C0C0; 
$background:url("https://atlanticbb.com/business/sites/all/themes/progressive/progressive_sub/logo.png") no-repeat;
$height : 0px !default;
$background-size:100%,100%;
$font-family:"Open Sans", Arial; 
$color:#404d74 !default;
$padding:0 0 0 0 !default;
$font-size:0px !default;
$list-style:none;
$display:flex;
$font-weight:500 !default;
$text-decoration:none;
$text-align:right;
$justify-content: space-around;
$cursor:pointer;
$letter-spacing: 4px; 
$text-shadow: "0 0 2px black"; 
$word-spacing: 20px;  
$box-shadow: none;
$background-color:#FFFFFF;
$border-top : 1px solid #C0C0C0;
$minheight: 500px;
$border: 1px solid #c4c4c4;

